article {
    background: #ffe4c4;
    border-radius: 5px;
    padding:10px;
}
section {
    background-color: #e6e6fa;
    border-radius: 5px;
    padding:10px;
}
div.col-md-3 {
    text-align: justify;
}
div.col-md-6 {
    text-align: justify;
}
div.col-md-4 {
    text-align: justify;
}
h2 div.row div.col-4 {
    text-align: left;
}
nav {
    background: #343a40;
    padding-left: 3rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
nav .nav-item {
    padding: 0.3rem 0 0.3rem 0;
    color: #8F9591;
    border-radius: 8px;
}
nav .nav-item:hover {
    background: #474747;
}
nav .nav-item:hover>a {
    color: white !important;
}
nav .nav-item .dropdown-menu a:hover{
    color: black !important;
    background: #dfdfdf;
    border-radius: 5px;
}